

<ion-content>
  <a routerLink="/login" style="display: flex; align-items: center; margin: 10px; text-decoration: underline; text-decoration-color: white; margin-top: 10%; margin-left: 3%;">
    <ion-icon name="arrow-back-outline" style="font-size: 24px; color: white;"></ion-icon>
    <span style="margin-left: 8px; color: white;">Voltar</span>
  </a>
  <div class="form-container">
    <form (submit)="cadastrar()">
      <div class="form-group">
        <ion-input placeholder="Nome" [(ngModel)]="nome" name="nome" required></ion-input>
      </div>
      <div class="form-group">
        <ion-input placeholder="E-mail" [(ngModel)]="email" name="email" required></ion-input>
      </div>
      <div class="form-group">
        <ion-input [type]="mostrarSenha ? 'text' : 'password'" placeholder="Senha" [(ngModel)]="senha" name="senha" type="password" maxlength="8" required></ion-input>
        <ion-icon
        [name]="mostrarSenha ? 'eye-off' : 'eye'"
        class="eye-icon"
        (click)="toggleSenha('senha')">
      </ion-icon>
      </div>
      <div class="form-group">
        <ion-input [type]="mostrarConfirmarSenha ? 'text' : 'password'" placeholder="Confirmar Senha" [(ngModel)]="confirmarSenha" name="confirmarSenha" type="password" maxlength="8" required></ion-input>
        <ion-icon
        [name]="mostrarConfirmarSenha ? 'eye-off' : 'eye'"
        class="eye-icon"
        (click)="toggleSenha('confirmarSenha')">
      </ion-icon>
      </div>
      <div class="form-group">
        <ion-input placeholder="Celular" [(ngModel)]="celular" name="celular" type="tel" required (ionInput)="formatPhone($event)"></ion-input>
      </div>
      <div class="form-actions">
        <ion-button type="submit" expand="block"><strong>Cadastrar</strong></ion-button>
      </div>
    </form>
  </div>
</ion-content>
