

<ion-content>
  <a routerLink="/login" style="display: flex; align-items: center; margin: 10px; text-decoration: underline; text-decoration-color: white; margin-top: 10%; margin-left: 3%;">
    <span style="font-size: 24px;"></span>
    <span style="margin-left: 5px; color: white;">Voltar para Login</span>
  </a>
  <div class="form-container">
    <form (submit)="cadastrar()">
      <div class="form-group">
        <ion-input placeholder="Nome" [(ngModel)]="nome" name="nome" required></ion-input>
      </div>
      <div class="form-group">
        <ion-input placeholder="E-mail" [(ngModel)]="email" name="email" required></ion-input>
      </div>
      <div class="form-group">
        <ion-input placeholder="Senha" [(ngModel)]="senha" name="senha" type="password" maxlength="8" required></ion-input>
      </div>
      <div class="form-group">
        <ion-input placeholder="Confirmar Senha" [(ngModel)]="confirmarSenha" name="confirmarSenha" type="password" maxlength="8" required></ion-input>
      </div>
      <div class="form-group">
        <ion-input placeholder="Celular" [(ngModel)]="celular" name="celular" type="tel" required (ionInput)="formatPhone($event)"></ion-input>
      </div>
      <div class="form-actions">
        <ion-button type="submit" expand="block"><strong>Cadastrar</strong></ion-button>
      </div>
    </form>
  </div>
</ion-content>
