<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Serviço</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="addService()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input [(ngModel)]="service.nome" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-textarea [(ngModel)]="service.descricao" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Preço</ion-label>
      <ion-input [(ngModel)]="service.preco" type="number" required></ion-input>
    </ion-item>
    <ion-footer>
      <ion-button expand="block" type="submit">Salvar</ion-button>
    </ion-footer>
  </form>
</ion-content>
