<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ operacao === 'delete' ? 'Remover Agendamento' : 'Agendamento' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="operacao !== 'delete'" (submit)="salvar()" class="agendamento-form">
    <ion-item *ngIf="tipoUsuario === 'admin'">
      <ion-label position="stacked">Cliente</ion-label>
      <ion-select [(ngModel)]="agendamento.cliente_id" name="cliente" required>
        <ion-select-option *ngFor="let cliente of listaClientes" [value]="cliente.id">
          {{ cliente.nome }}
        </ion-select-option>
        <ion-select-option *ngIf="!listaClientes.length" value="" disabled>Sem clientes disponíveis</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Veículo</ion-label>
      <ion-input [(ngModel)]="agendamento.veiculo" name="veiculo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Placa</ion-label>
      <ion-input [(ngModel)]="agendamento.placa" name="placa" maxlength="7" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dia</ion-label>
      <ion-datetime
        [(ngModel)]="agendamento.data"
        (ionChange)="validarData()"
        [min]="dataMinima"
        [disabled]="isSunday()"
        presentation="date"
        name="data">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Horário</ion-label>
      <ion-select [(ngModel)]="agendamento.horario" name="horario" required>
        <ion-select-option *ngFor="let horario of horariosDisponiveis" [value]="horario">
          {{ horario }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Observações</ion-label>
      <ion-textarea [(ngModel)]="agendamento.observacoes" name="observacoes"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>A lavagem será delivery? (Iremos ao local onde o veículo estiver)</ion-label>
    </ion-item>

    <ion-item>
      <ion-radio-group [(ngModel)]="agendamento.delivery" name="delivery" required>
        <ion-item>
          <ion-radio value="sim"></ion-radio>
          <ion-label>Sim</ion-label>
        </ion-item>

        <ion-item>
          <ion-radio value="nao"></ion-radio>
          <ion-label>Não</ion-label>
        </ion-item>
      </ion-radio-group>

      <small class="text-danger">
        Caso selecione "Não", o serviço será realizado em nosso estabelecimento, sendo necessário o veículo ser trazido até nós.
      </small>
    </ion-item>

    <ion-item *ngIf="agendamento.delivery === 'sim'">
      <ion-label position="stacked">Endereço da Lavagem</ion-label>
      <ion-input [(ngModel)]="agendamento.endereco" name="endereco"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Serviço</ion-label>
      <ion-select [(ngModel)]="agendamento.servico_id" name="servico" required>
        <ion-select-option *ngFor="let servico of listaServicos" [value]="servico.id">
          {{ servico.nome }}
        </ion-select-option>
      </ion-select>
    </ion-item>

  </form>

  <div *ngIf="operacao === 'delete'" style="text-align: center; padding: 10px;">
    <p>Você deseja remover o agendamento de <strong>{{ agendamento.nome_cliente }}</strong>?</p>
  </div>

  <ion-button expand="block" color="primary" (click)="salvar()"
    style="margin: auto; width: 50%; margin-top: 5%; margin-bottom: 5%;">
    {{ operacao === 'delete' ? 'Remover Agendamento' : 'Agendar' }}
  </ion-button>
</ion-content>
