
<ion-content>

  <a routerLink="/home" style="display: flex; align-items: center; margin: 10px; text-decoration: none; margin-top: 10%; margin-left: 5%;">
    <ion-icon name="arrow-back-outline" style="font-size: 24px; color: white;"></ion-icon>
    <span style="margin-left: 8px; color: white;">Voltar</span>
  </a>

  <!-- Card de Registrar Entrada -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrar Entrada</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Agendamento</ion-label>
        <ion-select [(ngModel)]="idAgendamentoSelecionado" placeholder="Selecione um agendamento" (ionChange)="onAgendamentoChange()">
          <ion-select-option *ngFor="let agendamento of agendamentos" [value]="agendamento.id">
            {{ agendamento.veiculo }} {{ agendamento.placa }} - {{ agendamento.data }} {{ agendamento.horario }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Veículo</ion-label>
        <ion-input [(ngModel)]="veiculo" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Observações</ion-label>
        <ion-textarea [(ngModel)]="observacoes" readonly></ion-textarea>
      </ion-item>
      <ion-button expand="block" (click)="registrarEntrada()" style="margin-top: 5%;">Registrar Entrada</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Filtros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Data Inicial</ion-label>
        <ion-input
          [(ngModel)]="dataInicial"
          placeholder="dd/mm/aaaa"
          (ionInput)="formatarDataAoDigitar('dataInicial', $event)"
          type="text"
          maxlength="10"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Data Final</ion-label>
        <ion-input
          [(ngModel)]="dataFinal"
          placeholder="dd/mm/aaaa"
          (ionInput)="formatarDataAoDigitar('dataFinal', $event)"
          type="text"
          maxlength="10"
        ></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="aplicarFiltros()">Aplicar Filtros</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-button expand="block" color="medium" (click)="limparFiltros()" style="width: 50%;
  margin-left: 3%;">Limpar Filtros</ion-button>

    <!-- Cada movimentação dentro de um ion-card -->
    <ion-card *ngFor="let movimentacao of movimentacoesVisiveis">
      <ion-card-header>
        <ion-card-title>{{ movimentacao.veiculo }}</ion-card-title>
        <ion-card-subtitle>Nome do cliente: {{ movimentacao.nome_cliente }}</ion-card-subtitle>
        <ion-card-subtitle>
          Entrada: {{ movimentacao.data_hora_entrada | date:'d/M/y HH:mm' }}
          <br />
          <span *ngIf="movimentacao.data_hora_saida">
            Saída: {{ movimentacao.data_hora_saida | date:'d/M/y HH:mm' }}
          </span>
          <br />
          <!-- Adicionando o ID do Agendamento e o Nome do Cliente -->
          <span><strong>Número do Agendamento:</strong> {{ movimentacao.id_agendamento }}</span>
          <br />
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p *ngIf="movimentacao.observacoes">
          <strong>Observações:</strong> {{ movimentacao.observacoes }}
        </p>
        <ion-button
          *ngIf="!movimentacao.data_hora_saida"
          color="danger"
          (click)="registrarSaida(movimentacao.id)"
          expand="block"
        >
          Registrar Saída
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Paginação -->
    <div class="pagination-container" style="display: flex; justify-content: center; align-items: center;">
      <ion-button
        [disabled]="paginaAtual === 1"
        (click)="mudarPagina(paginaAtual - 1)"
      >
        Anterior
      </ion-button>
      <ion-button
        [disabled]="paginaAtual === totalPaginas"
        (click)="mudarPagina(paginaAtual + 1)"
      >
        Próximo
      </ion-button>
    </div>


</ion-content>
