<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" *ngIf="tipoUsuario === 'admin'">
      <ion-button (click)="abrirModalAdicionarServico()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="services-container">
    <div *ngFor="let servico of servicos" class="service-card">
      <h3>{{ servico.nome }}</h3>
      <p>{{ servico.descricao }}</p>
      <strong>Preço: {{ servico.preco | currency:'BRL' }}</strong>
    </div>
  </div>
</ion-content>
