

<ion-content>
  <!-- Botão para voltar à home -->
  <a routerLink="/home" style="display: flex; align-items: center; margin: 10px; text-decoration: none; margin-top: 10%; margin-left: 5%;">
    <ion-icon name="arrow-back-outline" style="font-size: 24px; color: white;"></ion-icon>
    <span style="margin-left: 8px; color: white;">Voltar</span>
  </a>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Filtros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Data Inicial</ion-label>
        <ion-input
          [(ngModel)]="dataInicial"
          placeholder="dd/mm/aaaa"
          (ionInput)="formatarDataAoDigitar('dataInicial', $event)"
          type="text"
          maxlength="10"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Data Final</ion-label>
        <ion-input
          [(ngModel)]="dataFinal"
          placeholder="dd/mm/aaaa"
          (ionInput)="formatarDataAoDigitar('dataFinal', $event)"
          type="text"
          maxlength="10"
        ></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="aplicarFiltros()">Aplicar Filtros</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color="medium" (click)="limparFiltros()" style="width: 50%;
  margin-left: 3%;">Limpar Filtros</ion-button>

  <!-- Lista de registros do histórico -->
  <div *ngIf="historicoPaginado.length > 0" class="historico-lista">
    <ion-card *ngFor="let registro of historicoPaginado">
      <ion-card-header>
        <ion-card-title>Veículo: {{ registro.veiculo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Número do Agendamento:</strong> {{ registro.id_agendamento }}</p>
        <p><strong>Observações:</strong> {{ registro.observacoes }}</p>
        <p><strong>Status:</strong> {{ registro.status }}</p>
        <p><strong>Data de Entrada:</strong> {{ registro.data_hora_entrada | date:'short' }}</p>
        <p><strong>Data de Saída:</strong> {{ registro.data_hora_saida | date:'short' }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Mensagem caso o histórico esteja vazio -->
  <div *ngIf="historicoPaginado.length === 0" class="empty-state">
    <p style="color: white;">Sem registros no histórico.</p>
  </div>

  <!-- Controles de paginação -->
  <ion-row class="ion-justify-content-center" style="margin-top: 10px;">
    <ion-button [disabled]="paginaAtual === 0" (click)="mudarPagina(paginaAtual - 1)">
      Anterior
    </ion-button>
    <ion-button [disabled]="!temMaisPaginas()" (click)="mudarPagina(paginaAtual + 1)">
      Próximo
    </ion-button>
  </ion-row>
</ion-content>
