<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="home-container">
    <div class="banner">
      <h2>Deixe seu carro brilhando!</h2>
      <p>Escolha um serviço e agende agora.</p>
    </div>
    <div class="menu-grid">
      <ion-card routerLink="/entrada">
        <ion-icon name="enter-outline" class="icon"></ion-icon>
        <ion-card-content>
          <h3>Entrada</h3>
          <p>Registrar entrada de veículos.</p>
        </ion-card-content>
      </ion-card>

      <ion-card routerLink="/saida">
        <ion-icon name="exit-outline" class="icon"></ion-icon>
        <ion-card-content>
          <h3>Saída</h3>
          <p>Registrar saída de veículos.</p>
        </ion-card-content>
      </ion-card>

      <ion-card routerLink="/agenda">
        <ion-icon name="calendar-outline" class="icon"></ion-icon>
        <ion-card-content>
          <h4>Agendamento</h4>
          <p>Agende seu horário conosco.</p>
        </ion-card-content>
      </ion-card>

      <ion-card routerLink="/servicos">
        <ion-icon name="car-outline" class="icon"></ion-icon>
        <ion-card-content>
          <h3>Serviços</h3>
          <p>Confira nossos serviços.</p>
        </ion-card-content>
      </ion-card>

      <ion-card routerLink="/historico">
        <ion-icon name="time-outline" class="icon"></ion-icon>
        <ion-card-content>
          <h3>Histórico</h3>
          <p>Veja os serviços realizados.</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
